@import 'bootstrap/dist/css/bootstrap.min.css';

/* Custom styles */
body {
  margin: 0;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #333;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  color: white;
  font-weight: 500;
  margin-right: 2rem;
}

.nav-link {
  color: white !important;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.nav-link.active {
  background-color: #ff4500;
}

.container-fluid {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  background-color: #333;
  color: white;
  padding: 1rem;
  width: 250px;
  flex-shrink: 0;
  overflow-y: auto;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
  background-color: #444;
  border: none;
  margin-bottom: 1rem;
}

.keyword {
  background-color: #333;
  border: 1px solid silver;
  color: white;
}

.scribe-me {
  background-color: #ff4500;
  border: none;
}

/* Editor */
.editor-container {
  flex-grow: 1;
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.editor-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: white;
}

.editor-header .back-button {
  margin-right: 1rem;
  color: white;
  background: none;
  border: none;
  font-size: 1.2rem;
}

.editor-title {
  margin: 0;
  font-size: 1.2rem;
}

.word-character-count {
  color: white;
  display: flex;
  justify-content: end;
}

#editor {
  flex-grow: 1;
  height: 100%;
}

/* Quill Editor */
.ql-toolbar.ql-snow {
  border: 1px solid #545050;
  padding: 8px;
}

.ql-container.ql-snow {
  border: 1px solid #545050;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0;
  color: white;
  font-size: 20px;
}

.ql-formats {
  border: 1px solid #545050;
}
.upgrade-btn{
  background-color: #ff4500;
  border: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .editor-container {
    height: calc(100vh - 250px);
    overflow-y: auto;
  }

  .scribe-me {
    width: 100%;
  }
}
